<div>
  <div id="toolbar" >
    <button id="undo" (click)="handleUndo()" >Undo</button>
    <button id="redo" (click)="handleRedo()" >Redo</button>
    <button id="download" (click)="handleDownload()" >Download</button>
    <button id="download-svg" (click)="handleDownloadSVG()" >Download SVG</button>
    <button id="save" >Save</button>
    <button id="open" >Open</button>
 </div>
 <div id="upload-file" >
    <label for="myfile">Select a file:</label>
    <input type="file" id="myfile" name="myfile"  >
 </div>
 <div id="dmn-editor"></div>
</div>